.button {
    width: 100%;
    font-size: 1.5rem;
    background-color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}