#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.calculator {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;
  width: 300px;
  margin: 0 auto;
  background-color: #999;
  padding: 10px;
}

.buttons-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
  grid-auto-rows: 60px;
  gap: 5px; /* spacing between buttons */
}

/* Highlight =, 0, or C if needed (optional) */
.button#equals,
.button#clear,
.button#zero {
  background-color: tomato;
}

.button#zero, .button#clear {
  grid-column: span 2;
}

.button#equals {
  grid-row: span 2;
}

/* Hover effect */
.button:hover {
  background-color: #440b15;
  color: #fff;
}